.service-card{
    transition: .4s;
    cursor: pointer;
}
.service-card:hover{
    transform: scale(.9);
}
.service-card img{
    height: 30vh;
    border: 2px solid #AA7D83;
}
.btn-color{
    background-color: #AA7D83;
}
.card-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #031F4B;
}