.banner-container {
    position: relative;
    z-index: 1000;
    position: relative;
    background-size: cover;
    z-index: -50;
}
.banner-container::after {
    content: ' ';
    height: 420px;
    position: absolute;
    top: 0;
    background-image: url(../../../../images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: contain 100%;
    
    right: 0;
    width: 100%;
    z-index: -50;

}



article {
    
    height: auto;
    width: fit-content;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px 5px;
    font-family: 'Lato' sans-serif;
    border-radius: 5px;
}
article>p{
  width: 80%;
  margin: 0 auto;
  word-wrap: break-word;
  font-family: cursive;
}

.icon-color {
    color: #aa7d83;
}
.banner-title{
    font-size: 50px;
    font-family: fantasy;
}
.price{
    font-weight: 500;
    font-family: revert;
    font-style: italic;
}



/* media query */
@media only screen and (max-width:786px){
    .banner-container::after {
    
        background-position: center;
        
     
    
    }
 }