.banner-container{  
    position: relative;
  
    z-index: 1000; 
  
    position:relative;
    
    background-size: cover;
    z-index: -50;
   
}
.banner-container::after{
    content:' ';
    height: 420px;
    position: absolute;
    top: 0;
    background-image:url(../../../../images/banner.jpg) ;
    right: 0;
    width: 100%;
    
    z-index: -50;
 
}
.banner-content{
    max-width: 300px;
}
article{
    font-size: 1rem;
    background-color:rgba(7,101,189,0.5);
    padding: 10px 20px;
    font-family: 'Handlee', cursive; 
    border-radius: 5px;
}
.icon-color{
    color: #aa7d83;
}
